# IDE files
#############################
.idea/
*.iml
*.ipr
*.iws

.classpath
.project
.settings/
.metadata/

# Compiled files
#############################
target/
out/
**.tokens
**.releaseBackup
release.properties
*.log
*.jar
*.war
*.ear
*.ser
*.ec

# OS files
#############################
.DS_Store
